.btn-add {
    background: rgb(248, 222, 222);
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 25%;
    cursor: pointer;
    color: rgb(252, 0, 0);
    font-weight: bold;
    border: 2px solid rgb(255, 0, 0);

}

.btn-add:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid #fff;
}